[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
nose = "*"
parserator = ">=0.6.2"
coverage = "*"
probablepeople = "*"

[dev-packages]

[requires]
python_version = "3.7"
